<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script src="../scripts/main.js"></script>
		<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<link href="../../node_modules/bootstrap/dist/css/bootstrap.css"
		      rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet">
	</head>
	<body>
		<div class="d-flex">
			<div id="itemContainer" class="col-2 overflow-scroll">
			</div>
			<div id="itemDetailed" class="col-10 overflow-scroll">
				<table class="table">
					<thead>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
